.wrapper {
  display: grid;
  grid-gap: 200px;
  grid-template-columns: repeat(2, 1fr);
  padding: 25px;
  align-items: center;
}

.main-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 600;
  align-items: center;
  margin: 25px 0;
  color: #000000;
}

.custom-input {
  width: 320px;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #ca4cf9;
  background-color: #f8fafb;
  padding: 10px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  letter-spacing: 0.3px;
  font-size: 16px;
  color: black;
}

.custom-input::selection {
  background-color: #919bf4;
  color: white;
}

.custom-input::-moz-selection {
  background-color: #919bf4;
  color: white;
}

.custom-number-input {
  width: 75px;
  border-width: 1px;
  border-color: #c0bfbf;
  background-color: #f8fafb;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  letter-spacing: 0.3px;
  font-size: 20px;
  color: #403c3c;
  margin-top: 15px;
  border: 2px solid whitesmoke;
}

.custom-number-input::selection {
  background-color: #919bf4;
  color: white;
}

.custom-number-input::-moz-selection {
  background-color: #919bf4;
  color: white;
}

.custom-number-input:focus {
  box-shadow: none;
  border-color: #6271f0;
  outline: none;
}

.coin-type-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  gap: 10px;
}

.coin {
  padding: 5px 10px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  background-color: rgb(221, 221, 221);
  border: none;
  color: black;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  outline: none;
}

.coin:hover {
  background-color: #cccbcc;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  cursor: pointer;
}

.message-row {
  display: flex;
  flex-direction: column;
  gap: 15px;
}