#root {
  height: 100%;
  width: 100vw;
  margin: 0 auto;
  background-color: #f5f3f3;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}